@import url("https://fonts.googleapis.com/css?family=Varela+Round&amp;subset=latin-ext");
* {
  box-sizing: border-box; }

body {
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px; }

section {
  padding: 70px 0; }

h5 {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold; }

.same-buttons, .jumbotron .jumbotron-container .btn, .getstarted .btn, .design [class*='col-md'] .carousel-inner .carousel-item .btn {
  font-size: 14px;
  border-radius: 0;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #16A085;
  width: 200px;
  margin: 20px 0; }
  .same-buttons:hover, .jumbotron .jumbotron-container .btn:hover, .getstarted .btn:hover, .design [class*='col-md'] .carousel-inner .carousel-item .btn:hover {
    cursor: pointer;
    background-color: #38c297; }

.scroll__navall {
  background-color: rgba(0, 0, 0, 0.7) !important;
  transition: 0.7s; }

.navbar .navbar-brand {
  position: relative;
  left: 48%; }
.navbar .navbar-toggler {
  border: 1px solid #ffffff;
  transition: 0.7s; }
  .navbar .navbar-toggler .fa {
    color: #ffffff;
    font-size: 30px;
    transition: 0.7s; }
    .navbar .navbar-toggler .fa:hover {
      color: #000000; }
  .navbar .navbar-toggler:hover {
    background-color: #ffffff; }
.navbar .navbar-collapse .navbar-nav {
  justify-content: space-around;
  width: 100%;
  padding: 10px; }
  .navbar .navbar-collapse .navbar-nav .nav-section {
    display: flex; }
    .navbar .navbar-collapse .navbar-nav .nav-section .nav-item {
      width: 50%; }
      .navbar .navbar-collapse .navbar-nav .nav-section .nav-item a {
        color: #ffffff;
        text-align: center; }
        .navbar .navbar-collapse .navbar-nav .nav-section .nav-item a:hover {
          background-color: #ffffff;
          color: #000000; }

.jumbotron {
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
  position: relative; }
  .jumbotron .jumbotron-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
    .jumbotron .jumbotron-container .btn {
      margin: 0 auto; }
  .jumbotron .socjals {
    font-size: 30px;
    position: absolute;
    top: 90vh;
    left: 44vw; }
    .jumbotron .socjals .fa {
      color: #ffffff;
      padding: 10px;
      transition-duration: 0.7s; }
      .jumbotron .socjals .fa:hover {
        background-color: #ffffff;
        color: #000000;
        border-radius: 50%; }

.getstarted {
  background-color: #F5F6F7;
  padding-bottom: 0; }
  .getstarted h5 {
    color: #16A085;
    margin-bottom: 20px;
    padding: 0 10px; }
  .getstarted p {
    font-size: 14px;
    padding: 10px; }

.design {
  background-color: #ffffff;
  position: relative;
  z-index: 3; }
  .design [class*='col-md'] {
    max-height: 350px; }
    .design [class*='col-md'] .phone {
      z-index: 1; }
    .design [class*='col-md'] .carousel-inner {
      position: relative;
      z-index: 5;
      background-color: #ffffff; }
      .design [class*='col-md'] .carousel-inner .carousel-item h5 {
        color: #16A085;
        margin-bottom: 20px;
        padding: 0 10px; }
      .design [class*='col-md'] .carousel-inner .carousel-item p {
        font-size: 14px;
        padding: 10px; }
    .design [class*='col-md'] .control {
      color: #000000;
      font-size: 20px; }

.community {
  background-color: #F5F6F7;
  position: relative;
  z-index: 4; }
  .community .row {
    align-items: center; }
    .community .row .community__text {
      padding: 10px; }
      .community .row .community__text .text__p {
        font-size: 12px; }
    .community .row .community__carousel .controls__panel {
      display: flex;
      justify-content: flex-end;
      padding-right: 50px; }
      .community .row .community__carousel .controls__panel .control {
        color: #000000;
        font-size: 20px; }
      .community .row .community__carousel .controls__panel:nth-child(2) {
        padding-right: 30px; }

.subscribe {
  background-image: url(images/subscribe-background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .subscribe .subscribe__h {
    color: #fff; }
  .subscribe .input-group {
    width: 300px;
    margin: 30px auto; }
    .subscribe .input-group .subscribe__input {
      line-height: 2; }
      .subscribe .input-group .subscribe__input::-webkit-input-placeholder {
        color: #000; }
    .subscribe .input-group .subscribe__check .btn {
      background-color: #16A085;
      border-color: #16A085;
      transition-duration: 0.7; }
      .subscribe .input-group .subscribe__check .btn:hover {
        cursor: pointer;
        background-color: #38c297; }

.download {
  background-color: #F5F6F7;
  text-transform: uppercase; }
  .download .download__box {
    width: 80%;
    margin: 0 auto; }
    .download .download__box .buttons {
      display: flex;
      justify-content: center; }
      .download .download__box .buttons .input-group {
        justify-content: center;
        transition-duration: 0.7s;
        margin-top: 20px; }
        .download .download__box .buttons .input-group:hover {
          transform: scale(1.1); }
        .download .download__box .buttons .input-group .row__btn {
          background-color: #1ABC9C;
          color: #ffffff;
          width: 180px; }
          .download .download__box .buttons .input-group .row__btn:hover {
            cursor: pointer; }
        .download .download__box .buttons .input-group .input-group-btn {
          margin-left: -3px; }
          .download .download__box .buttons .input-group .input-group-btn .btn-secondary {
            background-color: #16A085;
            border-color: #16A085; }
            .download .download__box .buttons .input-group .input-group-btn .btn-secondary:hover {
              cursor: pointer; }

.footer {
  padding: 30px 0;
  font-weight: bold; }
  .footer .footer__link {
    margin-top: 10px;
    color: #1ABC9C; }
    .footer .footer__link a {
      color: #373737;
      text-decoration: none;
      transition-duration: 0.5s; }
      .footer .footer__link a:hover {
        background-color: #151515;
        color: #ffffff; }
  .footer .cameraimg {
    display: flex;
    flex-direction: row-reverse; }

@media(max-width: 992px) {
  .scroll__nav {
    background-color: rgba(0, 0, 0, 0.7); } }

/*# sourceMappingURL=style.css.map */
